.product-root {
  font-family: 'Sylfaen', serif;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-row {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  width: 70%;
}

.product-images-section {
  flex: 1;
  display: flex;
  flex-direction: row; /* Changed from column to row */
  align-items: flex-start;
}

.product-main-img {
  width: 410px;
  height: auto;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
}

.product-thumbnails {
  display: flex;
  flex-direction: column; /* Vertical thumbnails */
  gap: 16px;
  margin-right: 24px;
}

.product-thumbnail-img {
  width: 90px;
  height: 90px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: border 0.2s;
}

.product-thumbnail-img.selected,
.product-thumbnail-img:active {
  border: 2px solid #017dbe;
}

.product-info-section {
  flex: 1;
  font-family: 'Sylfaen', serif;
  align-items: flex-start;
  text-align: left;
  max-width: 400px !important; 
}

.product-title {
  font-family: 'Sylfaen', serif;
  font-size: 2rem;
  margin-bottom: 16px;
  text-align: left;
}

.product-description {
  font-family: 'Sylfaen', serif;
  font-size: 1.1rem;
  margin-bottom: 24px;
  word-break: break-word;
  white-space: normal;
  text-align: left;
}

.product-details {
    margin-top: 60px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.product-details-title {
  color: #017dbe;
  font-weight: 500;
  font-family: 'Sylfaen', serif;
  font-size: 1.5rem;
  text-align: start;
}

.product-details-content {
  background: #E0E5EB;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  gap: 48px;
  font-family: 'Sylfaen', serif;
  font-size: 1.1rem;
  margin-top: 16px;
}

.product-details-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: start;
  margin-left: 40px;
}